#group-event-nav {
  display: flex;
  gap: 10px;
}

#group-event-nav > a:hover {
  text-decoration: underline;
}

#group-event-nav > .active {
  color: teal;
  text-decoration: underline;
  cursor: default;
}

#group-event-nav > a:not(.active){
  color: gray;
}
