.groupCard {
  display: flex;
  gap: 15px;
  width: 100%
}

.groupListDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0;
}

.groupListImage > img {
  height: 150px;
  width: 250px;
}

.group-page {
  padding-top: 0;
}
