#event-page {
  padding-bottom: 100px;
}

.eventCard {
  padding: 10px ;
  width: 100%;
}

.topEventCard {
  display: flex;
  gap: 25px
}

.eventListImage > img {
  height: 150px;
  width: 250px;
}

.eventListDetails {
  display: flex;
  flex-direction: column;
  gap: 5px
}

.eventListDetails > span {
  color: rgb(82, 0, 0);
  font-size: .7em;
}
