#top {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#headerText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

#top > img{
  width: 50%;
}

h1 {
  font-size: 1.7em;
}

#mid {
  width: 150px;
}

#bottom {
  display: flex;
  gap: 5px;
  width: 75%
}

.navOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navOptions > p {
  text-align: center;
}

.navOptions > a:hover:not(.disabled){
  text-decoration: underline;
}

.newGroup > a.disabled {
  color: lightgray;
  cursor: auto;
}

#landing-page > a {
  padding: 7px 12px;
  background-color: rgb(82, 0, 0);
  border: solid 2px #E1B536;
  box-shadow: 2px 2px grey;
}
