/* TODO: Add sitewide styles */
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

body {
  background-color: black;
}

a {
  cursor: pointer;
  text-decoration: none;
}

input {
  width: 100%
}

h1 {
  font-size: 1.9em;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 1.3em;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-size: 1.0em;
}

h4 {
  font-size: 0.8em;
}

p {
  font-size: .7em;
}

.faint {
  color: gray;
}

.small-page-container {
  background-color: #ECECEC;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15%;
  margin: 0px auto;
  max-width: 700px
}

.small-symbol {
  font-size: 0.8em
}

.line-break{
  border-bottom: 1px solid gray;
  width: 100%;
  margin: 10px 0;
}

.breadcrumb {
  font-size: .7em;
  width: 100%;
  text-decoration: none;
}

.breadcrumb > span {
  text-decoration: underline;
  color: blue;
}
