/* TODO: Add sitewide styles */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

a {
  cursor: pointer;
}

input {
  width: 100%
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.1em
}

h3 {
  font-size: .8em;
}

.faint {
  color: gray;
}

.smaller {
  font-size: .8em;
}

.smallest {
  font-size: .7em;
}

.small {
  font-size: .8em
}

.small-page-container {
  background-color: #ECECEC;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 15%;
  margin: 0px auto;
  max-width: 700px
}

.small-symbol {
  font-size: 0.8em
}

.line-break{
  border-bottom: 2px solid grey;
  width: 100%;
  margin: 10px 0;
}
